* {
  margin: 0;
  padding: 0;
  border: none;
  font-family: Arial, sans-serif;
}

body {
  font-size: 14px;
  background-color: black;
  background-image: url('./assets/flames.gif');
  background-position: bottom;
  background-repeat: repeat-x;
  height: 100vh;
  background-size: 25%;
  color:gold;
}

h1 {
  margin: 40px auto;
}

p {
  margin: 30px auto;
}